.userModalCap{
    text-transform: capitalize;
    }
    .userModalTbl {
          overflow: scroll !important;
        height: 350px !important;
        overflow-x: hidden !important;
        width: 100% !important; 
    }
    
    .userActivBtn {
        width: 100px;
        float: right;
        background-color: #73a1ff;
        color: white;
        border-color: #73a1ff !important;
     
      }
      .userActivBtn:hover {
        background-color: #73a1ff !important;
        border-color: #73a1ff !important;
        color: white !important;
      }
      .userActivBtn:active {
        background-color: #73a1ff !important;
        border-color: #73a1ff !important;
        color: white !important;
      }
      .userActivBtn:focus {
        border-color: #73a1ff !important;
        background-color: #73a1ff !important;
        outline: 0;
        box-shadow: 0 0 0 0rem #73a1ff !important;
      }
    
      .userSuspndBtn {
        width: 100px;
        background-color: #5dcfe3;
        color: white;
        border-color: #5dcfe3 !important;
     
      }
      .userSuspndBtn:hover {
        background-color: #5dcfe3 !important;
        border-color: #5dcfe3 !important;
        color: white !important;
      }
      .userSuspndBtn:active {
        background-color: #5dcfe3 !important;
        border-color: #5dcfe3 !important;
        color: white !important;
      }
      .userSuspndBtn:focus {
        border-color: #5dcfe3 !important;
        background-color: #5dcfe3 !important;
        outline: 0;
        box-shadow: 0 0 0 0rem #5dcfe3 !important;
      }

      /* ************Acive and suspend modal bx***************** */

      .userActvMdl{
   
        margin-top: 30px;
       
    }
    .userActvMdlBdy{
        padding: 30px;
    }
    
    .userActvMdl .modal-content {
       border: 1px solid #cfcfcf;
        border-radius: 6px;
        box-shadow: 1px 1px 2px #78dfff, 0 0 25px #78dfff, 0 0 5px #78dfff;
    }
    
    .userActvMdlCnclBtn {
        /* width: 100px; */
        float: right;
        background-color: #73a1ff;
        color: white;
        border-color: #73a1ff !important;
     
      }
      .userActvMdlCnclBtn:hover {
        background-color: #73a1ff !important;
        border-color: #73a1ff !important;
        color: white !important;
      }
      .userActvMdlCnclBtn:active {
        background-color: #73a1ff !important;
        border-color: #73a1ff !important;
        color: white !important;
      }
      .userActvMdlCnclBtn:focus {
        border-color: #73a1ff !important;
        background-color: #73a1ff !important;
        outline: 0;
        box-shadow: 0 0 0 0rem #73a1ff !important;
      }
    
      .userActvMdlActvBtn {
        /* width: 100px; */
        background-color: #5dcfe3;
        color: white;
        border-color: #5dcfe3 !important;
     
      }
      .userActvMdlActvBtn:hover {
        background-color: #5dcfe3 !important;
        border-color: #5dcfe3 !important;
        color: white !important;
      }
      .userActvMdlActvBtn:active {
        background-color: #5dcfe3 !important;
        border-color: #5dcfe3 !important;
        color: white !important;
      }
      .userActvMdlActvBtn:focus {
        border-color: #5dcfe3 !important;
        background-color: #5dcfe3 !important;
        outline: 0;
        box-shadow: 0 0 0 0rem #5dcfe3 !important;
      }
    
    /* ************common style************ */
    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100vw;
        height: 100vh;
        background-color: #00000008 !important;
    }
    
    
    